.portfolio{
	position: relative;
	padding: 2em 0 3em;
	text-align: center;

	.btn{
		clear: both;
		display: block;
		width: 120px;
		border: 1px solid $pink;
		margin: 1.5em auto 0 auto;
		color: $pink;
		cursor: pointer;

		&:hover, &:active{
			color: $white;
			background-image: linear-gradient(to top, $pink 0%, $pink 100%);
		}
	}
}

.portfolio-filters{
//	position: absolute;
//	top: 2em;
//	left: 0;
//	right: 0;
	padding-bottom: 2em;

	a{
		display: inline-block;
		padding: 0.2em 0.625em;
		margin: 0 1.25em;
		background-repeat: no-repeat;
		background-position: 0 30px;
		color: $base-text-color;
		cursor: pointer;
		transition: 0.3s;
		transition-timing-function: ease;

		&::before{
			display: block;
			height: 2.6em;
			margin: 0 auto 0.5em auto;
		}

		&:hover, &:active, &.current{
			color: $white;
			background-image: linear-gradient(to top, rgba(255,174,194,1) 0%, rgba(255,174,194,1) 35%, $white 20%, $white 100%);
			background-position: 0 0;
		}
	}

	.web{
		&::before{
			content: url('../images/filter-web.svg');
			width: 3em;
		}
		&.current{
			&::before{
				content: url('../images/filter-web-pink.svg');
			}
		}
	}

	.mobile{
		&::before{
			content: url('../images/filter-mobile.svg');
			width: 2.5em;
		}
		&.current{
			&::before{
				content: url('../images/filter-mobile-pink.svg');
			}
		}
	}

	.photo{
		&::before{
			content: url('../images/filter-photo.svg');
			width: 3.3em;
		}
		&.current{
			&::before{
				content: url('../images/filter-photo-pink.svg');
			}
		}
	}

	.art{
		&::before{
			content: url('../images/filter-art.svg');
			width: 2.5em;
		}
		&.current{
			&::before{
				content: url('../images/filter-art-pink.svg');
			}
		}
	}

	.anime{
		&::before{
			content: url('../images/filter-star.svg');
			width: 2.5em;
		}
		&.current{
			&::before{
				content: url('../images/filter-star-pink.svg');
			}
		}
	}

	.food{
		&::before{
			content: url('../images/filter-cupcake.svg');
			width: 2.5em;
		}
		&.current{
			&::before{
				content: url('../images/filter-cupcake-pink.svg');
			}
		}
	}

}

.project-groups{
	max-width: 61em;
//	padding-top: 5.625em;
	padding-bottom: 4em;
	margin: auto;

	overflow: hidden;
}

.project{
	position: relative;
	width: 12.841em;
	border: 3px solid $white;
	margin: 1em auto;

	box-shadow: 0 0 0.1em $pink;
	cursor: pointer;

	> img{
		display: block;
	}
	> figcaption{
		position: absolute;
		top: 0;
		left: 0;
	}
}

[ad-details]{
	position: relative;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;

	background-color: $light-pink;

	img{
		max-width: 100%;
	}
}

.details{
	position: relative;
	padding: 2em 0;
	font-size: 0.94em;
}

.project-client{
	font-size: 1.5em;
}

.project-title{
	padding-bottom: 0.5em;
	color: $pink;
	font-size: 2em;
}

.project-images{
	position: relative;
	display: none;
	height: (654 / (16 * 1.1)) * 1em;
	padding: 2em 1em;
	overflow: hidden;

	line-height: 65em;
	text-align: center;
	user-select: none;
}

.low-res-only{
	display: block;
}

.arrow{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	z-index: 3;

	cursor: pointer;

	&::before{
		content: ' ';

		position: absolute;
		top: 50%;
		left: 1em;
		width: 0;
		height: 0;
		border: {
			top: 1.25em solid transparent;
			bottom: 1.25em solid transparent;
			right: 1.25em solid $pink;
			left: 0;
		};
		margin-top: -1.25em;

		transition: 0.2s;
	}

	&:hover::before{
		border-right-color: $faded-pink;
	}

	&.arrow-next{
		left: auto;
		right: 0;

		&::before
		{
			left: auto;
			right: 1em;
			border: {
				left: 1.25em solid $pink;
				right: 0;
			};
		}

		&:hover::before{
			border-left-color: $faded-pink;
		}
	}
}

.project-image{
	display: none;

	&.active{
		display: block;
	}
}

.project-description{
	padding: 1em 1em 2em;

	text-align: left;
}

.project-problem, .project-process, .project-solution{
		display: block;
		padding: 1em 1.5em;
		clear: both;
		text-align: left;

		&::after{
			content: ' ';
			display: block;
			clear: both;
		}
}

.project-problem{
	background-color: #fcf2dc;
}

.project-process-top img{
	display: none;
}

.project-problem-title, .project-process-title, .project-solution-title, .project-solution-tag{
	font: 400 italic 2em/1.28 'Molle', cursive;
	font-size: 2em;
}

.project-problem-tag, .project-process-tag{
	display: inline-block;
	padding: 4px 5px 2px;
	font-size: 0.675em;
	text-transform: uppercase;
	color: $white;
	background-color: $pink;
}

.project-process{
	color: $white;
	background-color: #6a4f49;
}

.project-process-bottom{
	border: 5px solid $pink;
	clear: both;
	background-color: $white;

	display: none;
}

.project-solution-top{
	padding: 0;

	.project-solution-details{
		padding-top: 1em;
	}
}

@media screen and (min-width: 35em){
	.project-groups{
		max-width: 31em;
	}

	.project{
		margin: 1em;
		float: left;

		&:nth-child(odd)
		{
			margin: 3em 1em -3em;
		}
	}

	[ad-details]{
		float: left;

		~ .project:nth-child(odd){
			margin: 1em;
		}

		~ .project:nth-child(even){
			margin: 3em 1em -3em;
		}
	}

}

@media screen and (min-width: 52em){
	.project-groups{
		max-width: 46em;
	}

	.project{
		margin: 1em;

		&:nth-child(odd)
		{
			margin: 1em;
		}
	}

	[ad-details]{
		~ .project:nth-child(even){
			margin: 1em;
		}
	}

	.project-images{
		display: block;
	}

	.low-res-only{
		display: none;
	}

	.project-description{
		width: 50%;
		padding: 1em 3em 0;
		float: left;
	}

	.details aside{
		width: 35%;
		padding: 2em 0;
		float: right;
		text-align: left;
	}

	.project:nth-child(3n-1){
		margin: 3em 1em -3em;
	}

	[ad-details]{
		~ .project:nth-child(3n-1){
			margin: 1em;
		}

		~ .project:nth-child(3n){
			margin: 3em 1em -3em;
		}
	}

	.project-problem{
		padding: 2em 0 0 0;

		img{
			width: 49%;
			float: left;
		}

		.project-problem-details{
			width: 42%;
			padding: 0 2em;
			float: right;
		}
	}

	.project-process{
		padding: 0;

		.project-process-top{
			padding: 2em 0 0 2em;

			.project-process-details{
				width: 46%;
				float: left;
			}

			img{
				display: block;
				width: 49%;
				padding-bottom: 4em;
				float: right;
			}
		}

		.project-process-row{
			border-bottom: 5px solid $pink;
			text-align: center;

			&:last-child{
				border-bottom: 0 none;
			}

			img{
				padding: 10px;
			}

			.project-process-image{
				display: inline-block;

				&:nth-child(even){
					border-left: 5px solid $pink;
				}
			}
		}
	}

	.project-solution{
		padding: 0;
	}

	.project-solution-top{
		position: relative;
		background-color: $pink;
		color: $white;

		&::after{
			content: ' ';
			display: inline-block;
			height: 0;
			width: 100%;
		}

		img{
			display: inline-block;
			position: absolute;
			bottom: -4.5em;
			left: 2em;
			width: 48%;
			padding-top: 4em;
			z-index: 10;
		}

		.project-solution-details{
			display: block;
			width: 42%;
			padding: 2em;
			float: right;
		}
	}

	.project-solution-bottom{
		position: relative;
		padding: 5em 2em 0 2em;
		text-align: right;

		.project-solution-details{
			position: absolute;
			top: 6em;
			left: 2em;
			width: 38%;
			text-align: left;
		}

		img{
			margin-top: -4em;
		}
	}

}

@media screen and (min-width: 68em){
	.project-groups{
		max-width: 61em;
	}

	.project:nth-child(3n-1){
		margin: 1em;
	}

	[ad-details]{
		~ .project:nth-child(3n){
			margin: 1em;
		}
	}

	.project:nth-child(odd)
	{
		margin: 3em 1em -3em;
	}

	[ad-details]{

		~ .project:nth-child(odd){
			margin: 1em;
		}

		~ .project:nth-child(even){
			margin: 3em 1em -3em;
		}
	}

	.project-process-bottom{
		display: block;

		.project-solution-details{
			width: 42%;
		}
	}

	.project-solution-top{
		padding: 2em;
	}
}
